/* GridCell.css */

.grid-cell {
  background-color: aliceblue;
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
}

h2 {
  margin-bottom: 10px;
}

button {
  background-color: #122813;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0b0f0b;
}